#head-judul{
    color: black;
    font-family: Encode Sans;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    text-align: left;
    font-weight: bold;
}
.head-semi-content{
    color: black;
    font-family: Encode Sans;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    font-weight: bold;
}
.content, .content-ul{
    font-family: Karla;
    color: black;
}
ul {
    list-style: none;
  }
  
ul li::before {
    content: "\25E6";
    color: #008A85;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
.link-content{
    color: #008A85;
    font-weight: bold;
    /* font-family: Karla; */
}
h6{
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;

}
.example{
    padding-top: 15px;
    padding-left: 20px;
    width: 655px;
    font-family: consolas;
    height: 51px;
    background-color: #F2F5F5;
    border-bottom: 1px solid gray;
}
.footer{
    background-color: #E5F3F3;
    width: 655px;
    height: 149px;
    margin-left: 72px;;
}
.end{
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;

}
h1{
    font-family:  Encode Sans;
    font-style : Bold;
    font-size  : 48px;
    line-height: 64px;
    line-height: 107%;
    text-align: center;
    color: #ffffff;
    vertical-align: Top;
}
body{
    background-color: #008A85;
}
.head{
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;

}
.head-content{
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
.content-dd{
    font-family: Karla;
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}
.content-div{
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
#config{
    margin-left: 4%;
    width: 260px;
}
#active1, #active2, #active3,
#active4, #active5, #active6, #active7{
                            margin-left: 20px;
                        }
#config-content{
    background-color: white;
    margin-left: 23%;
}

