.h-head{
    font-family:  Encode Sans;
    font-style : Bold;
    font-size  : 48px;
    line-height: 64px;
    line-height: 107%;
    text-align: center;
    color: #ffffff;
    vertical-align: Top;
    margin-top: 5%;
    font-weight: bold;
}
.body{
    background-color: #008a85;
}
.head-meet{
    font-family: Encode Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}
.content-meet{
    font-family: Karla;
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-family: karla;
    color: white;

}
.content-div{
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.block-content{
    margin-left: 10%;
}
.fixed{
    margin-left: 15%;
}